html,
body {
    margin: 20px;
    padding: 0px;
    min-height: calc(100%-40px);
    font-family: 'Pretendard Variable', 'Apple SD Gothic Neo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #666666;
    text-size-adjust: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

table,
th,
td {
    border: 1px solid #dfdfdf;
}

th,
td {
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}

.table-title {
    background-color: #f3f3f3;
    width: auto;
}

.first {
    width: 40px;
}

.second {
    width: 100px;
}

.third {
    width: 100px;
}

.forth {
    width: 60px;
}

.fifth {
    width: 50px;
}

.sixth {
    width: 180px;
}

.seventh {
    width: 150px;
}

.chart-container {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

canvas {
    position: relative;
    max-width: auto;
    max-height: 300px;
    margin-bottom: 40px;
    z-index: 100;
}

.total-remainning-time {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    z-index: 0;
    top: -40px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    pointer-events: none;
}

.total-remainning-time-num {
    font-weight: 900;
    display: block;
    font-size: 20px;
}

button {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: #0ACFD9;
    color: #ffffff;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.reset-all {
    background-color: #898989;
}

.item-reset {
    position: relative;
    font-size: 0.7rem;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    background-color: #d2d2d2;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.action-container {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

button:hover {
    background-color: #18aab1;
}

.item-reset:hover,
.reset-all:hover {
    background-color: #7d7d7d;
}

#dayExitTime {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #0ACFD9;
}

.dayExitTimeNormal {
    color: #6f6f6f;
    font-weight: 200;
}

.dayExitTimeAlert {
    color: #EF6D81;
    font-weight: 400;
}

.title-center {
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #3f3f3f;
}

input[type="text"] {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    color: #777777;
    background-color: #ffffff;
    width: 80px;
    margin-right: 10px;
}

select {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    color: #777777;
    background-color: #ffffff;
    text-align: center;
}

.custom-checkbox input {
    display: none;
}

/* 커스텀 디자인 */
.custom-checkbox span {
    height: 18px;
    width: 18px;
    background-color: #ffffff;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
}

/* 체크된 상태의 스타일 */
.custom-checkbox input:checked+span {
    background-color: #DCBCFF;
    border: 1px solid #B068FF;
}

.custom-checkbox input:checked+span:after {
    content: "";
    position: absolute;
    left: 7px;
    top: 3px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

@media screen and (max-width: 1100px) {

    html,
    body {
        margin: 10px;
        font-size: 14px;
        line-height: 1.3;
        min-height: calc(100%-20px);
    }

    .title-center {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    th,
    td {
        padding: 10px 0px 10px 0px;
    }


}

@media screen and (max-width: 935px) {


    th,
    td {
        padding: 10px 0px 10px 0px;
    }

    input[type="text"],
    select {
        width: 60px;
        transform: scale(0.9);
    }

    input[type="checkbox"] {
        transform: scale(1.3);
    }
}

@media screen and (max-width: 784px) {

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
        width: 100%;
        border: 0px;
    }

    .title-center {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        border: 0px;
    }

    tr {
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        width: calc(100% - 2px);
    }

    td {
        position: relative;
        align-items: flex-start;
        justify-content: center;
        border: none;
        border-bottom: 1px solid #dedede;
        /* padding: 10px; */
        padding: 10px 10px 10px 10px;
        padding-left: calc(28% + 30px);
        text-align: right;
        white-space: normal;
        height: 22px;
        width: auto;
        margin: 0px;
    }

    td:last-child {
        border-bottom: none;
    }

    td:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 28%;
        height: 22px;
        padding: 10px;
        content: attr(data-title);
        font-weight: bold;
        font-size: 14px;
        color: #666666;
        background-color: #f3f3f3;
        text-align: right;
    }

    input[type="text"],
    select {
        margin: 0px;
        padding: 4Px;
        transform: scale(1);
        margin-right: 10px;
        width: auto;
        /* max-width: 100%; */
    }

    select {
        transform: scale(1);
        /* padding: 5px 5px 5px 5px; */
        border-radius: 5px;
        border: 1px solid #d4d4d4;
        color: #777777;
        background-color: #ffffff;
        margin: 0px;
        padding: 4Px;
        /* text-align: center; */
        /* margin: 0px; */
    }

    input[type="checkbox"] {
        transform: scale(1.3);
        margin: 0px;
        /* margin-right: 5px; */
        color: #777777;
        margin: 0px;
        padding: 4Px;
    }
}

@media screen and (max-width: 510px) {

    html,
    body {
        margin: 10px;
        font-size: 14px;
        min-height: calc(100%-20px);
    }

    .title-center {
        font-size: 2rem;
        text-align: center;
    }

    .action-container,
    .title-center,
    #dayExitTime {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    td {
        font-size: 12px;
        padding-left: calc(40% + 30px);
        height: 18px;
    }

    td:before {
        width: 40%;
        font-size: 12px;
        height: 18px;
    }

    input[type="text"],
    select {
        max-width: 60%;
        padding: 4px;
        font-size: 12px;
    }

    button {
        font-size: 0.8rem;
        font-size: 14px;
    }

    .item-reset {
        padding: 0px 0px;
        font-size: 0.8rem;
        font-size: 12px;
    }
}

@media screen and (max-width: 309px) {
    .total-remainning-time {
        top: -50px;
        font-size: 10px;
    }

    .total-remainning-time-num {
        font-size: 18px;
    }
}